<app-title title="Etape 3"></app-title>
<div class="w-100 form-create-container d-flex align-items-center py-4">
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-start w-100">
    <div class="form-create d-flex flex-column align-items-center w-100">
      <div class="d-flex flex-column justify-content-center align-content-center container px-0 px-md-5">
        <div
          class="fieldset d-flex flex-column w-100 px-3 py-4"
          data-title="Services"
          [formGroup]="subCurrent"
        >
          <div class="w-100 d-flex align-items-center presentation-data pb-3">
            <div
              class="presentation-data-item d-flex align-items-center justify-content-center px-3 py-2 m-1"
              *ngFor="let item of data"
            >
                <span>
                  {{ item.value }} : [
                    {{ item.bp }} : {{ item.pa }} : {{ item.ts }}
                  ]
                </span>
              <i
                class="bi bi-x-octagon-fill ms-3"
                (click)="removeSelected(item.id)"
              ></i>
            </div>
          </div>
          <div class="form-floating">
            <select class="form-select" id="g1" #select>
              <option
                *ngFor="let item of getNotSelected()"
                value="{{ item.id }}"
              >
                {{ item.value }}
              </option>
            </select>
            <label for="g1"> Services: </label>
          </div>
          <div
            class="form-floating mt-3"
            *ngIf="getNotSelected().length !== 0"
          >
            <input
              type="number"
              name="bp"
              id="bp"
              placeholder="Az:"
              class="form-control"
              formControlName="bp"
            >
            <label for="bp"> Bande Passante (en GB): </label>
          </div>
          <div
            class="form-floating mt-3"
            *ngIf="getNotSelected().length !== 0"
          >
            <input
              type="number"
              name="pa"
              id="pa"
              placeholder="Az:"
              class="form-control"
              formControlName="pa"
            >
            <label for="pa"> Pourcentage d'abonné: </label>
          </div>
          <div
            class="form-floating mt-3"
            *ngIf="getNotSelected().length !== 0"
          >
            <input
              type="number"
              name="ts"
              id="ts"
              placeholder="Az:"
              class="form-control"
              formControlName="ts"
            >
            <label for="ts"> Taux de simultaneté: </label>
          </div>
          <div
            class="content-button w-100 d-flex justify-content-center align-items-center mt-5"
            *ngIf="getNotSelected().length !== 0"
          >
            <button
              type="button"
              class="btn shadow create-project px-4 py-2 d-flex align-items-center justify-content-center"
              (click)="addSelected(select.value)"
            >
              <i class="bi bi-patch-plus-fill me-2"></i>
              <span> Ajouter </span>
            </button>
          </div>
        </div>
        <div
          class="fieldset d-flex flex-column w-100 px-3 py-4 mt-4"
          data-title="Propriété du réseau"
          [formGroup]="current"
        >
          <div class="form-floating">
            <input
              type="number"
              name="nc"
              id="nc"
              placeholder="Az:"
              class="form-control"
              formControlName="nc"
              (blur)="save()"
            >
            <label for="nc"> Nombre de cellules: </label>
          </div>
          <div class="form-floating mt-3">
            <input
              type="number"
              name="bpap"
              id="bpap"
              placeholder="Az:"
              class="form-control"
              formControlName="bpap"
              (blur)="save()"
            >
            <label for="bpap"> Bande Passante du AP: </label>
          </div>
          <div class="form-floating mt-3">
            <input
              type="number"
              name="nps"
              id="nps"
              placeholder="Az:"
              class="form-control"
              formControlName="nps"
              (blur)="save()"
            >
            <label for="nps"> Nombre de ports switchs: </label>
          </div>
          <div class="form-floating mt-3">
            <input
              type="number"
              name="nac"
              id="nac"
              placeholder="Az:"
              class="form-control"
              formControlName="nac"
              (blur)="save()"
            >
            <label for="nac"> Nombre d'abonne dans la cellule: </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-decorator d-flex flex-column justify-content-center align-items-center pt-4 w-100" data-result="data" id="data-result">
      <div class="fieldset d-flex flex-column w-100 px-3 py-4" data-title="Résultat">
        <div class="data-item d-flex flex-column">
          <label for="r1"> Bande Passante de la cellule: </label>
          <output class="mt-1" name="r1" id="r1" for="px1 px2 sx1 sx2 l1 l2 l3">
            {{ this.getBP() }}
          </output>
        </div>
      </div>
      <div class="fieldset d-flex flex-column w-100 px-3 py-4 mt-4" data-title="Rayon">
        <div class="data-item d-flex flex-column mt-3">
          <label for="r3"> Nombre total du AP: </label>
          <output class="mt-1" name="r3" id="r3" for="px1 px2 sx1 sx2 l1 l2 l3">
            {{ this.getNTAP() }}
          </output>
        </div>
        <div class="data-item d-flex flex-column mt-3">
          <label for="r4"> Nombre de Switchs: </label>
          <output class="mt-1" name="r4" id="r4" for="px1 px2 sx1 sx2 l1 l2 l3">
            {{ this.getNS() }}
          </output>
        </div>
      </div>
      <div class="content-button w-100 d-flex justify-content-center align-items-center mt-5">
        <button
          type="button"
          class="btn shadow create-project px-4 py-2 d-flex align-items-center justify-content-center"
          (click)="this.next()"
        >
          <i class="bi bi-arrow-left-circle-fill me-2"></i>
          <span> Précedent </span>
        </button>
      </div>
    </div>
  </div>
</div>
