@use 'src/mixins' as *;

.content-profil-data{
  background-color: $purple;
  border-radius: 5px;
  height: 150px;

  .content-profil-form{
    background-color: rgba( $color: $cultured, $alpha: 0.9 );
    margin-top: 60px;
    border-radius: 5px;
    min-height: 300px;
    -webkit-backdrop-filter: blur( 7px );
    backdrop-filter: blur( 7px );
    z-index: 50;

    .icon{
      font-size: 80px;
      color: $purple;
    }

    hr{
      background-color: $cultured-2;
      height: 2px;
      size: 5px;
      opacity: 1;
      max-width: 80%;
    }

    .form-item{
      i{
        font-size: 50px;
        color: $onyx;
        text-shadow: 0px 0px 6px $davys-grey;
      }

      .form-item-data{
        span{
          font-size: 1.2em;
          text-transform: uppercase;
          letter-spacing: 0.12em;
          color: $onyx;
          text-shadow: 0px 0px 6px $davys-grey;
          font-weight: 600;
        }

        p{
          color: $davys-grey;
        }
      }
    }
  }

  .decorator{
    height: 300px;

    .decorator-item{
      background-color: $purple;
      height: 70px;
      width: 70px;
      border-radius: 100%;
      top: 60%;

      &:nth-child( 2 ) {
        height: 150px;
        width: 150px;
      }
    }
  }
}
