<div class="w-100 d-flex flex-column justify-content-between align-item-center px-3 pt-4 content-all">
  <div class="w-100 mt-3">
    <app-log-title>
      {{ 'form.welcome' | translate }}
      <span class="title-highlight text-uppercase p-2">skyfi</span>
    </app-log-title>
    <app-log-subtitle subtitle="{{ 'form.subtitle.start' | translate }}"></app-log-subtitle>
  </div>
  <div class="container d-flex flex-column justify-content-center content-inputs px-md-5 pt-4">
    <div class="w-100 mt-4">
      <app-log-input
        type="text"
        id="name"
        label="{{ 'form.input.label.name' | translate }}"
        icon="person-badge-fill"
        placeholder="Az: "
      ></app-log-input>
    </div>
    <div class="w-100 mt-4">
      <app-log-input
        type="email"
        id="email"
        label="{{ 'form.input.label.email' | translate }}"
        icon="envelope-fill"
        placeholder="Az: "
      ></app-log-input>
    </div>
    <div class="w-100 mt-4">
      <app-log-input
        type="password"
        id="password"
        label="{{ 'form.input.label.password' | translate }}"
        icon="shield-lock-fill"
        placeholder="Az: "
      ></app-log-input>
    </div>
  </div>
  <div class="w-100 d-flex flex-column content-submit my-4">
    <div class="w-100 d-flex p-0 justify-content-center content-error overflow-hidden">
      <p class="d-flex text-center w-100 m-0 p-0 text-danger"></p>
    </div>
    <app-log-button
      label="{{ 'form.button.label.sign-up' | translate }}"
    ></app-log-button>
    <div class="w-100 log-options text-center mb-3 mt-1">
      {{ 'form.utils.sign-up-text' | translate }}?
      <span routerLink="../sign-in">
        {{ 'form.utils.sign-up' | translate }}
      </span>
    </div>
  </div>
</div>
