<div class="w-100 d-flex account-container">
  <div class="d-flex flex-column account-container-items account-menu-container px-3 shadow close">
    <div class="d-flex account-menu-image-container justify-content-center align-items-center h-100 w-100 position-absolute start-0">
      <img src="/assets/img/images/mountains-4251750_1280.jpg" class="w-100 h-100 account-menu-image d-none" alt="menu image">
    </div>
    <div class="w-100 d-flex align-items-center account-menu-brand">
      <div class="w-100 account-menu-brand-head d-flex flex-column align-items-center justify-content-center pt-4 pb-2">
        <img src="/assets/img/icons/icon.fill.png" alt="skyfi icon">
        <p class="account-menu-brand-title text-uppercase mt-4"> Skyfi </p>
      </div>
    </div>
    <div class="w-100 d-flex flex-column account-menu-content-items py-3 mt-2">
      <div class="w-100 account-menu-item d-flex justify-content-center align-items-center" routerLinkActive="active">
        <div class="account-menu-item-container d-flex align-items-center px-3 py-2 mb-2 ps-4" routerLink="./projects">
          <i class="bi bi-folder-fill me-3"></i>
          <p class="menu-item-text m-0 ps-2"> Mes dossiers </p>
        </div>
      </div>
      <div class="w-100 account-menu-item d-flex justify-content-center align-items-center" routerLinkActive="active">
        <div class="account-menu-item-container d-flex align-items-center px-3 py-2 mb-2 ps-4" routerLink="./profile">
          <i class="bi bi-person-video3 me-3"></i>
          <p class="menu-item-text m-0 ps-2"> Mon compte </p>
        </div>
      </div>
      <div class="w-100 account-menu-item d-flex justify-content-center align-items-center" routerLinkActive="active">
        <div class="account-menu-item-container d-flex align-items-center px-3 py-2 mb-2 ps-4" routerLink="./infos">
          <i class="bi bi-tools me-3"></i>
          <p class="menu-item-text m-0 ps-2"> Informations </p>
        </div>
      </div>
    </div>
    <div class="w-100 account-menu-decorator d-flex justify-content-center align-items-center py-4">
      <img src="/assets/img/illustrations/img2.svg" alt="menu illustration">
    </div>
  </div>
  <div class="d-flex flex-column account-container-items account-pages-container overflow-auto">
    <div class="w-100 d-flex align-items-center justify-content-between account-nav p-3 sticky-top">
      <div class="d-flex align-items-center account-nav-start">
        <button class="btn account-nav-button">
          <i class="bi bi-house-heart-fill"></i>
        </button>
        <p class="account-nav-title text-truncate ps-4 m-0"> {{ getTitle() }} </p>
      </div>
      <div class="d-flex align-items-center account-nav-end">
        <button class="btn account-nav-button mx-2 d-none d-md-block">
          <i class="bi bi-globe2"></i>
        </button>
        <button
          class="btn account-nav-button mx-2 d-none d-md-block"
          (click)="this.logOut()"
        >
          <i class="bi bi-power"></i>
        </button>
        <button
          class="btn account-nav-button mx-2 d-md-none"
        >
          <i class="bi bi-text-indent-left"></i>
        </button>
      </div>
    </div>
    <div class="w-100 px-3 py-3 py-md-5 account-content-page-data" [@slideUpAnimation]="this.getAnimationData( outlet )">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
