@use 'src/mixins' as *;

:host{
  display: flex;
  width: 100%;
  height: 190px;

  @media screen and ( min-width: 768px ) {
    height: 230px;
  }

  .project-item{
    height: 100%;
    width: 100%;
    background-color: $cultured;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    &:hover{
      $size: 5px;
      @include shadow( rgba( $eerie-black, 0.03 ), $size, $size );
    }

    .project-item-head{
      background-color: $purple;
      height: 110px;
      //clip-path: polygon( 0% 0%, 0% 85%, 15% 100%, 85% 100%, 100% 85%, 100% 0%, 0% 0% );
      clip-path: ellipse( 80% 77% at 35% 23% );

      i{
        font-size: 70px;
        color: $cultured;
      }

      @media screen and ( min-width: 768px ) {
        height: 130px;
      }
    }

    .project-item-body{
      flex: 1;

      .project-item-title{
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 0.13em;
        color: $davys-grey;
      }

      .project-description{
        font-size: 0.75em;
        width: 100%;
        color: $davys-grey;
      }

      @media screen and ( min-width: 768px ) {
        .project-item-title{
          font-size: 1.2em;
        }

        .project-description{
          font-size: 0.85em;
        }
      }
    }
  }
}
