@use 'src/mixins' as *;

:host{
  display: flex;
  width: 100%;
  height: 190px;

  @media screen and ( min-width: 768px ) {
    height: 230px;
  }

  .project-item{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    &::before{
      content: "";
      display: block;
      position: absolute;
      height: 80%;
      width: 100%;
      left: 0px;
      bottom: 0px;
      background-color: $purple;
    }

    &:hover{
      $size: 5px;
      @include shadow( rgba( $eerie-black, 0.03 ), $size, $size );
    }

    .project-item-head{
      background-color: $cultured;
      height: 120px;
      //clip-path: polygon( 0% 0%, 0% 85%, 15% 100%, 85% 100%, 100% 85%, 100% 0%, 0% 0% );
      clip-path: ellipse( 80% 77% at 35% 23% );

      i{
        font-size: 50px;
        color: $purple;
      }

      @media screen and ( min-width: 768px ) {
        height: 150px;

        i{
          font-size: 65px;
        }
      }
    }

    .project-item-body{
      flex: 1;

      .project-item-title{
        font-size: 0.75em;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: $cultured;
        text-transform: uppercase;
      }

      .project-description{
        font-size: 0.65em;
        width: 100%;
        color: $cultured-2;
      }

      @media screen and ( min-width: 768px ) {
        .project-item-title{
          font-size: 0.95em;
        }

        .project-description{
          font-size: 0.85em;
        }
      }
    }
  }
}
