<div class="row m-0 w-100">
  <div class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
    <div class="w-100 d-flex justify-content-center align-items-center project-add-items" routerLink="../create">
      <i class="bi bi-plus-circle-fill"></i>
      <p class="m-0 position-absolute project-add-items-title text-uppercase"> Nouveau projet </p>
    </div>
  </div>
  <div class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
    <app-account-project-item title="Mon premier test"></app-account-project-item>
  </div>
  <div class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
    <app-account-project-item title="Second test"></app-account-project-item>
  </div>
</div>
