<div class="row m-0 w-100">
  <div class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
    <div class="w-100 d-flex justify-content-center align-items-center project-add-items" routerLink="../create">
      <i class="bi bi-plus-circle-fill"></i>
      <p class="m-0 position-absolute project-add-items-title text-uppercase"> Nouveau projet </p>
    </div>
  </div>
  <div
    class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2"
    *ngFor="let item of list | async"
  >
    <app-account-project-item
      [title]="item.title"
      [description]="item.description"
      [id]="item.projectID"
      [data]="item.data"
    ></app-account-project-item>
  </div>
</div>
