@use 'src/mixins' as *;

:host{
  width: 100%;
  min-height: calc( 100vh - 150px );

  .form-create-container{
    min-height: calc( 100vh - 150px );

    .form-create, .form-decorator{
      flex: 1;

      input, textarea, select{
        border: none;
        border-bottom: 4px solid $purple;
        outline: none;

        &:focus{
          box-shadow: none;

          +label{
            color: $purple;
            font-weight: 600;
          }
        }

        +label{
          padding-top: 10px;
          color: $sonic-silver;
        }
      }

      textarea{
        resize: none;
        height: 200px;
      }

      input{
        height: 50px;
      }

      select{
        height: 60px;

        +label{
          color: $purple !important;
          font-weight: 600;
        }
      }
    }

    .form-decorator{
      max-width: 300px;

      @media screen and ( max-width: 576px ) {
        max-width: none !important;
      }

      img{
        max-width: 100%;
      }
    }

    .create-project{
      background-color: $purple;
      color: $cultured;
      font-size: 0.9em;
      box-shadow: none;
      border-radius: 25px;

      i{
        font-size: 20px;
      }

      span{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.13em;
      }
    }
  }
}
