@use 'src/mixins' as *;

:host{
  width: 100%;
  min-height: calc( 100vh - 150px );

  .form-create-container{
    min-height: calc( 100vh - 150px );

    .form-create{
      flex: 1;

      input, textarea{
        border: none;
        border-bottom: 4px solid $purple;
        outline: none;

        &:focus{
          box-shadow: none;

          +label{
            color: $purple;
            font-weight: 600;
          }
        }

        +label{
          padding-top: 10px;
          color: $sonic-silver;
        }
      }

      textarea{
        resize: none;
        height: 200px;
      }

      input{
        height: 50px;
      }

      .create-project{
        background-color: $purple;
        color: $cultured;
        font-size: 0.9em;
        box-shadow: none;
        border-radius: 25px;

        i{
          font-size: 20px;
        }

        span{
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.13em;
        }
      }
    }

    .form-decorator{
      max-width: 300px;

      img{
        max-width: 100%;
      }
    }
  }
}
