<div class="w-100 form-create-container d-flex align-items-center py-4">
  <div class="form-create d-flex flex-column align-items-center">
    <div class="d-flex flex-column justify-content-center align-content-center container px-0 px-md-5">
      <div class="form-floating">
        <input type="text" name="name" id="name" placeholder="Az:" class="form-control">
        <label for="name"> Nom: </label>
      </div>
      <div class="form-floating mt-5">
        <textarea class="form-control" placeholder="Az:" name="description" id="description" cols="30" rows="10"></textarea>
        <label for="name"> Description du projet: </label>
      </div>
      <div class="content-button w-100 d-flex justify-content-center align-items-center mt-5">
        <button type="button" class="btn shadow create-project px-4 py-2 d-flex align-items-center justify-content-center">
          <i class="bi bi-patch-plus-fill me-2"></i>
          <span> Créer </span>
        </button>
      </div>
    </div>
  </div>
  <div class="form-decorator d-none d-md-flex justify-content-center align-items-center">
    <img src="/assets/img/illustrations/img3.svg" alt="illustration" class="img form-decorator-image">
  </div>
</div>
