<div class="container-lg d-flex align-items-center px-0 px-md-5 px-lg-3">
  <div class="row m-0 w-100">
    <div class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
      <div class="w-100 d-flex justify-content-center align-items-center project-add-items border">
        <i class="bi bi-plus-circle-fill"></i>
      </div>
    </div>
    <div class="col col-6 col-sm-4 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
      <app-account-project-item></app-account-project-item>
    </div>
  </div>
</div>
